.titleStyle h3 {
    border: 1px solid black;
    width: 100px;
    margin: 10px auto;
    border-radius: 20px;
    background-color: #5ce2e2;
    color: black;
}

.menuStyle li {
    list-style-type: none;
    margin: 10px auto;
}




